body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    line-height: 18px;
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 0px;
    font-weight: 100;
}

.imgLogo{
    height:96px;
    width: 96px;
}

main
{
    background-color: #fafafa;
    justify-content: center;
    border-top: 1px solid #efefef;
}

a{
    color: #8e8e8e;
    text-decoration: none;
    display:flex;
    flex-direction: row;
    height: 52px;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 60px;
}

.a-selected{
    color: #262626;
    border-top: 1px solid #262626; 
    margin-top: -2px;
}

.navClass
{
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: relative;
    /*-webkit-justify-content: space-between;*/
}

.MenuBar{
    align-items: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

.divSeparador{
    display: block;
    position: relative;
    width: 100%;
}

.divConteudo{
    color: #262626;
    background-color: white;
    font-size: 16px;
    line-height: 18px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    min-width: 750px;
    width: 100%;
    min-height: 750px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    /* align-content:center; */
    flex-direction:column;
}

.TwoTables{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    align-content:flex-start;
    flex-direction:row;
    width: 100%;
}

.Bodysize{
    box-sizing: content-box;
    padding: 00px 20px 20px;
    width: calc(60% - 40px);
    min-width: 736px;
    display: table;
    margin-right: auto;
    margin-left: auto;
}


tr:nth-child(even){
    background-color: #fafafa;
}

tr:hover{
    background-color:#f2f2f2;
}

.TableButton{
    padding: 0px;
    margin: 0px 0px 0px;
}

.Searchbutton{
    padding: 0px;
    margin: 0px 0px 0px;
    vertical-align: bottom;
    height: 32px; 
    background-color: white;
}

.SaveButton:hover{
    opacity: 1;
}
.SaveButton{
    border: 1px solid transparent;
    background-color: #0095f6;
    color: #fff;
    opacity: 0.8;
}

button
{
    cursor: pointer;
    padding: 8px;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    color: rgba(var(--f75,38,38,38),1);
    margin: 10px 0 10px;
    font-weight: 600;

    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    line-height: 18px;
}
h2{
    font-weight: 300;
    font-size: 28px;
    line-height: 32px;
    margin: 10px 0 10px;
    color: #262626;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.divMaisAcoes{
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgba(var(--f23,255,255,255),1);
    border-radius: 12px;
    max-height: 100%;
    overflow: hidden;
    width: 400px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color:transparent;
    border-radius: 4px;
    bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    left: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    position: fixed;
    right: 0;
    -webkit-tap-highlight-color: #000;
    top: 0;
    z-index: 100;
    min-width: 736px
}


table
{
    border: 1px solid #dbdbdb;   
    /* text-align: center;    */
    margin-right: auto;
    margin-left: auto; 
    border-spacing: 0px;
    flex-shrink:0;
}


th {
    /* background-color: #4682B4; */
    background-color: #0095f6;
    color: white;
    padding: 5px 10px 5px 10px;  
}

td
{
    padding: 5px 10px 5px 10px;  
    font-weight: 600; 
}

label{

    color: #262626;
    padding-right: 32px;
    text-align: right;
    margin-top: 6px;
    position: relative;

    font-size: 16px; 
    font-weight: 600; 
    line-height: 18px; 
    margin-top: 6px;
}

input, select{
    background: 0 0;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    font-size: 16px;
    height: 32px;
    padding: 0 10px;
    text-align: left;
}

.inputAsRow{
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 0px;
    font-weight: 600;
}

aside{
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-left: 25%;
    padding-right: 25%;
    text-align: left;
}


.ModelMultipleChoiceField{
    min-width: 300px;
    min-height: 300px ;
}