{% extends "PJI110/MasterPage.html" %}

{% block title %}
    {% if PageTitle is not None %}
        {{PageTitle}}
    {% endif %}
{% endblock %}

{% block content %}
    

<aside>
    <h2>{{PageTitle}}</h2>
</aside>

<form action="" method="post"> 
    {% csrf_token %} 
    <div class="TwoTables">
        <div style="width: 40%;">
            <aside>
                <label>Data Início</label> 
            </aside>
            <aside>
                {{form.DtBegin_Servico}}
            </aside>
        </div>
        <div style="width: 40%;">
            <aside>
                <label>Data Término</label>
            </aside>
            <aside>
                {{form.DtEnd_Servico}}
            </aside>
        </div>    

    </div>    
    <br></br>
    <!-- <aside> -->
        <label>Selecione a Escala de serviço</label>
    <!-- </aside>
    <aside> -->
        {{form.Id_TipEsc}}
    <!-- </aside> -->
        <br></br>
    <button class="SaveButton"  type="submit" id="ServicoBiuld" name="ServicoBiuld" value="ServicoBiuld">
        Gerar Matriz Serviço
    </button>


<aside>
  <br></br>
</aside>

{% if ListServicoTemplate %}
    <table>
        <thead>
            <tr>
                <th>Data</th>
                {% if SubTipoEscalaList %}
                    {% for SubTipoEscala in SubTipoEscalaList %}
                        <th> {{ SubTipoEscala.Nome_SubTipEsc }}</th>
                    {% endfor %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
        <!-- 
            Índice 0 = Dt_Matriz
            Índice 1 = Lista de Serviços no Dia/Militares
                -> Indice 0 = SubTipEsc_id 
                -> Indice 1 = IsHoliday_Matriz
                -> Indice 2 = Id_Matriz 
                -> Indice 3 = Lista Militares de Serviço Do SubTipoEscala
                    -> Índice 0 Lista Militares = Nome PG Mil 
                    -> Índice 1 Lista Militares = Nome Guerra Mil
                    -> Índice 2 Lista Militares = SU Mil                                        
        -->
                  
        {% for ItemSvData in ListServicoTemplate %}  
        <tr>
            <td>{{ ItemSvData.0|date:"d/m - D " }}</td>
            
            {% for ItemTemplate in ItemSvData.1 %}  
                {% if ItemTemplate.1 %}
                    <td style="color: red; font-weight: 600;">
                {% else %}
                    <td>
                {% endif %}
                {% for Mil in ItemTemplate.3 %} 
                    {{Mil.1}} {{Mil.2}}<br>  
                {% endfor %}  
                </td>   
            {% endfor %}
        </tr>    
        {% endfor %}
                  

        </tbody>
    </table>
{% endif %}    
       
<aside>
   <br></br>
</aside>

    {% csrf_token %}
    
    <button class="SaveButton" type="submit" id="ServicoAdd" name="ServicoAdd" value="ServicoAdd">
        Homologar Serviço
    </button>
</form>


{% if form.non_field_errors %}
<div class="text-error">
    {{ form.non_field_errors }}
</div>
{% endif %}
   
{% endblock %}