{% extends "PJI110/MasterPage.html" %}

{% load chuman %}

{% block title %}
    {% if PageTitle is not None %}
        {{PageTitle}}
    {% endif %}
{% endblock %}

{% block content %}
    

<aside>
    <h2>{{PageTitle}}</h2>
</aside>

<form action="" method="post"> 
    {% csrf_token %} 
    <div class="TwoTables">
        <div style="width: 40%;">
            <aside>
                <label>Data Início</label> 
            </aside>
            <aside>
                {{form.DtBegin_Servico}}
            </aside>
        </div>
        <div style="width: 40%;">
            <aside>
                <label>Data Término</label>
            </aside>
            <aside>
                {{form.DtEnd_Servico}}
            </aside>
        </div>    

    </div>    
    <br></br>
    <aside>
    <!-- <table>
        <thead></thead>
        <tbody>
            <tr>
                <td>
                <label>Selecione a Escala de serviço</label>
                </td>
                <td>
                {{form.Id_TipEsc}}
                </td>
                <td>
                <button class="TableButton" type="submit" id="ServicoSearch" name="ServicoSearch" value="ServicoSearch">
                <svg aria-label="Editar" role="img" viewBox="0 0 40 40" height="32" width="32">
                    <circle cx="15" cy="15" r="10" stroke="#0095f6" stroke-width="2" fill="#0095f6" ></circle>
                    <circle cx="15" cy="15" r="7" stroke="white" stroke-width="2" fill="white" ></circle>
                    <rect x="22" y="20" ry="3" width="15"  stroke="#0095f6" stroke-width="2" fill="#0095f6"  transform-origin="center" transform="rotate(45)" height="2"></rect>
                </svg>
                </button>
                </td>
            </tr>
        </tbody>
    </table> -->
    <label>Selecione a Escala de serviço</label>

    {{form.Id_TipEsc}}

    <button class="Searchbutton" type="submit" id="ServicoSearch" name="ServicoSearch" value="ServicoSearch">
    <svg aria-label="Editar" role="img" viewBox="0 0 40 40" height="27" width="27">
        <circle cx="15" cy="15" r="10" stroke="#0095f6" stroke-width="2" fill="#0095f6" ></circle>
        <circle cx="15" cy="15" r="7" stroke="white" stroke-width="2" fill="white" ></circle>
        <rect x="22" y="20" ry="3" width="15"  stroke="#0095f6" stroke-width="2" fill="#0095f6"  transform-origin="center" transform="rotate(45)" height="1"></rect>
    </svg>
    </button>

    <br></br>
</aside>

{% if ListServicoTemplate %}
    <table>
        <thead>
            <tr>
                <th>Data</th>
                {% if SubTipoEscalaList %}
                    {% for SubTipoEscala in SubTipoEscalaList %}
                        <th> {{ SubTipoEscala.Nome_SubTipEsc }}</th>
                    {% endfor %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
        <!-- 
            Índice 0 = Dt_Matriz
            Índice 1 = Lista de Serviços no Dia/Militares
                -> Indice 0 = SubTipEsc_id 
                -> Indice 1 = Matriz
                -> Indice 2 = Lista Militares de Serviço Do SubTipoEscala
                    -> Índice 0 Lista Militares = Nome Guerra Mil                                   
        -->
                  
        {% for ItemSvData in ListServicoTemplate %}  
        <tr>
            <td>{{ ItemSvData.0|date:"d/m - D " }}</td>
            
            {% for Item in ItemSvData.1 %}
              
                {% if Item.1.IsHolyday_Matriz %}
                    <td style="color: red; font-weight: 600;">
                {% else %}
                    <td>
                {% endif %}
                {% for ItemTemplate in Item.2 %}
                    {{ItemTemplate}}<br>  
                {% endfor %}
                </td>   
            {% endfor %}
        </tr>    
        {% endfor %}
                  

        </tbody>
    </table>
{% endif %}    
</form>
<aside>
   <br></br>
</aside>
<form action="" method="post"> 
    {% csrf_token %}
    
    <button class="SaveButton" type="submit" id="ServicoAdd" name="ServicoAdd" value="ServicoAdd">
        Gerar Escala de Serviço
    </button>
</form>


{% if form.non_field_errors %}
<div class="text-error">
    {{ form.non_field_errors }}
</div>
{% endif %}
   
{% endblock %}