{% extends "PJI110/MasterPage.html" %}

{% block title %}
Militares
{% endblock %}

{% block MenubarMiltiares %}
class="a-selected"
{% endblock %}

{% block content %}


{% if militarList %}
    <table>
        <thead>
        <tr>
            <th>P/G</th>
            <th>Nome Guerra</th>
            <th>SU</th>
        </tr>
        </thead>
        <tbody>
        {% for militar in militarList %}
            <tr>
                <td>{{ militar.Id_SU.Nome_SU}}</td>
                <td>{{ militar.NomeG_Mil}}</td>
                <td>{{ militar.Id_PG.Nome_PG}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Não Existe nenhum militar cadastrado no Sistema.</p>
{% endif %}


{% endblock %}