{% extends "PJI110/MasterPage.html" %}

{% block title %}
Escala
{% endblock %}

{% block MenubarEscala %}
class="a-selected"
{% endblock %}

{% block content %}

<aside>
    <h2>Escala dos Militares do 1º B Av Ex<br></br></h2>
</aside> 

<div class="TwoTables">
    <div style="width: 40%;">
        {% if TipoEscalaList %}
            <table style="margin-right: 0;">
                <thead>
                <tr>
                    <th>Selecione o Tipo da Escala</th>
                </tr>
                </thead>
                <tbody>
                {% for TipoEscala in TipoEscalaList %}
                    <tr>
                        <form action="" method="get" >
                            <td>
                                <button  class="inputAsRow" type="submit" id="EscalaSelect" name="EscalaSelect" value= {{TipoEscala.id}}> 
                                    {{ TipoEscala.Nome_TipEsc}}
                                </button>
                            </td>
                        </form>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

    <div style="width: 60%;">
        {% if SubTipoEscalaList %}        
            <table>
                <thead>
                <tr>
                    <th>Nome Escala</th>
                    <th>Prioridade</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
                </thead>
                <tbody>
                {% for SubtipoEscala in SubTipoEscalaList %}
                    <tr>
                        <td>
                            {{ SubtipoEscala.Nome_SubTipEsc}}
                        </td>                       
                        <td>
                            {{ SubtipoEscala.Prioridade_SubTipEsc}}
                        </td>
                        <form action="" method="get">  
                            {% csrf_token %}            
                            <td>
                                <button  class="TableButton" type="submit" id="SubtipoEscalaEdit" name="SubtipoEscalaEdit" value= {{SubtipoEscala.id}} >
                                    <svg aria-label="Editar" color="#262626" fill="#262626" role="img" viewBox="0 0 24 24" width="24"><circle cx="12" cy="12" r="1.5"></circle><circle cx="6.5" cy="12" r="1.5"></circle><circle cx="17.5" cy="12" r="1.5"></circle></svg>
                                </button>
                            </td>
                        </form>
                        <form action="" method="get" onsubmit="return confirm('Deseja realmente excluir este SubTipo SV?');">  
                            {% csrf_token %}
                            <td>
                                <button  class="TableButton" type="submit" id="SubtipoEscalaDel" name="SubtipoEscalaDel" value= {{SubtipoEscala.id}}> 
                                    <svg aria-label="Editar" color="#B22222" fill="#B22222" role="img" viewBox="0 0 24 24" width="24">
                                        <rect x="8" y="0" width="20" transform="rotate(45)" height="4"></rect>
                                        <rect x="-10" y="-20" width="20" transform="rotate(135)" height="4"></rect>
                                    </svg>
                                </button>
                            </td>
                        </form>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
        {% endif %}
    </div>
</div>
     
<form action="" method="get"> 
    {% csrf_token %}
    <button class="SaveButton" type="submit" id="SubTipoEscalaAdd" name="SubTipoEscalaAdd" value="SubTipoEscalaAdd">
        Inserir SubTipo Escala
    </button>
</form>

{% endblock %}